body {
    font-family: sans-serif, serif, Arial;
}

body,
h1,
h2 {
    margin: 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-wrapper {
    padding: 30px 0;
    border-bottom: 2px solid #e2e2e3;
}
